[submodule "MFTECmd"]
	path = MFTECmd
	url = https://github.com/EricZimmerman/MFTECmd
[submodule "evtx"]
	path = evtx
	url = https://github.com/EricZimmerman/evtx
[submodule "AppCompatCacheParser"]
	path = AppCompatCacheParser
	url = https://github.com/EricZimmerman/AppCompatCacheParser
[submodule "PECmd"]
	path = PECmd
	url = https://github.com/EricZimmerman/PECmd
[submodule "RECmd"]
	path = RECmd
	url = https://github.com/EricZimmerman/RECmd
[submodule "AmcacheParser"]
	path = AmcacheParser
	url = https://github.com/EricZimmerman/AmcacheParser
[submodule "RBCmd"]
	path = RBCmd
	url = https://github.com/EricZimmerman/RBCmd
[submodule "Prefetch"]
	path = Prefetch
	url = https://github.com/EricZimmerman/Prefetch
[submodule "WxTCmd"]
	path = WxTCmd
	url = https://github.com/EricZimmerman/WxTCmd
